body {
    font-family: "Quicksand", "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.57);
}

.header .container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    padding-top: 132px;
}

.header__title {
    display: inline-block;
    font-size: 24px;
    width: 100%;
    margin: 0;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__nav-link {
    text-decoration: none;
    color: #000;
}

.header__nav-link:hover {
    text-decoration: underline;
}

.header__nav-item.header__nav-item--contact a {
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.header__nav-item.header__nav-item--contact a:hover {
    text-decoration: none;
    opacity: 0.5;
}